URSULE_DATA_DIR=./data
URSULE_HOST=127.0.0.1
URSULE_PORT=8000
URSULE_PUBLIC_BASE_URL=http://127.0.0.1:8000
URSULE_TIMEZONE=Asia/Shanghai
URSULE_SYNC_HOUR=4
URSULE_SYNC_MINUTE=0
# 首次启动后在网页设置，其余敏感值无需写入此文件。
